@charset "utf-8";
/* CSS Document */
body {
	direction: rtl;
	text-align: right;
}
.jhmare {
	font-weight: bold;
	color: #cf6100;
	font-size: larger;
}
.details_title {
	color: #04215d;
	border-bottom: 1px solid #CCC;
	font-size: 2em;
	clear: both;
}
.details_image {
	float: right;
	padding: 14px;
	border-radius: 5px;
	width: 50%;
	height: 50%;
}
.details_text {
	font-family: tahoma;
	font-size: 1.5em;
	text-align: right;
}
.splash {
	background: #021744;
	height: 100%;
	width: 100%;
}
.ui-li-count button {
	text-align: left;
}
.ui-page {
        -webkit-backface-visibility: hidden;
		-webkit-transform: rotateY(0deg);
		-moz-transform: rotateY(0deg);
		transform: rotateY(0deg);
    } 